* {
    margin: 0;
    padding: 0;
    color: #444444;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}
   
.wrapper-main {
    flex: 1;
    width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}
         
h1 {
    font-size: 55px;
    margin: 100px 0;
}

button {
    font-weight: bold;
    border-radius: 15px;
    border: none;
    box-shadow: none;
}

button:hover {
    background-color: #e2dfdf;
    transition: 0.7s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.option-button {
    font-size: 16px;
    padding: 15px 25px;
    margin: 10px 10px;
}

.option-button.selected {
    background-color: #cccccc;
}

.feed {
    font-size: 25px;
    padding: 20px 30px;
}

.feed.clicked {
    background-color: #faf6f6;
}

#output {
    padding-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

footer {
    padding-bottom: 10px;
  }


/* Responsive Design */

@media only screen and (max-width: 600px) {
  
    .wrapper-main {
      width: 100%;
      padding: 40px 0;
      /* background-color: green; */
    }
  
    h1 {
      font-size: 45px;
      margin: 50px 0;
    }

    button, .option-button {
        font-size: 20px;
        font-weight: bold;
        color: #444444;
        padding: 20px 30px;
        margin-bottom: 20px;
        border-radius: 15px;
        border: none;
        box-shadow: none;
    }
    
    .option-button {
        font-size: 16px;
        padding: 12px 15px;
        margin: 10px 5px;
        background-color: #e7e7e7;
    }
    
    #output {
        font-size: 40px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

  }
  
  @media only screen and (min-width: 601px) {
    
    .wrapper-main {
      width: 100%;
      /* background-color: red; */
    }
  
  }
  
  @media only screen and (min-width: 768px) {
    
    .wrapper-main {
      width: 100%;
      /* background-color: purple; */
    }
  
  }
  
  @media only screen and (min-width: 992px) {
    
    .wrapper-main {
      width: 100%;
    }
  
  }